<!DOCTYPE html>
<html>
	<head>
		<title> | Welcome to Scrabbulous </title>
		<link type="text/css" rel="stylesheet" href="./static/index.css" />
		<link type="image" rel="icon" href="./static/fav-ico.ico" />
		<meta name=viewport content="width=device-width, initial-scale=1">
 

	</head>

	<body>
		<div id="secret-holder" style="height: 100%;">
			<div id = "header" style="max-height: 10%;"> 
				<img src="static/scrabb-image-resized.png" style="max-height: 15%; max-width: 100%;"/><img src="static/ulous-image-resized.png" style="max-height: 15%;  max-width: 100%;"/>
			</div>
			<div id="leftSidebar" class="sidebar" style="float:left;width:25%;">
				<div id="instruction-menu" style="background-color: LightGray">
					<div id="instruction-toggler" onclick="toggleInstructions();"> <img src="./static/rightarrow.png" style="display: inline; height: .75em" />  Click here for instructions.</div>
				</div>
				<div id="history-handler" style="background-color: ivory">
				</div>
			</div>
				
			
			<div id= "mainBody">
				<div id = "create" class="input-block">
					<div display = "block" ><img id="create-image" src="static/create-image-resized.png"/></div>
					<div id="createFormDiv" style="position: static;">
						<form id="createForm" onsubmit="event.preventDefault(); createWords();">
							<input class="inputText" type = "text" id = "createWordsInput"> </input>
							<input class="inputButton" type = "image" src="static/scrabblego-resized.png"></input>
						</form>
					</div>
					<div id = "createWordsOutput" class = "output" style="display: none"></div>
				</div>
				<div id = "check" class="input-block">
					<div display = "block"><img id="check-image" src="static/check-image-resized.png"/></div>
					<form id="createForm" onsubmit="event.preventDefault(); checkWords();">
						<input class="inputText" type = "text" id = "checkWordsInput"> </input>
						<input class="inputButton" type = "image" src="static/scrabblego-resized.png"></input>
					</form>
					<div id = "checkWordsOutput" class = "output" style="display: none"> 
					</div>
				</div>
			</div>
		</div>

		<script src="./static/javascript.js"></script>
	</body>

</html>