<!DOCTYPE html>
<html>
	<head>
		<title> crabbulous | Welcome to Scrabbulous </title>
		<link type="text/css" rel="stylesheet" href="./static/index.css" />
		<link type="image" rel="icon" href="./static/fav-ico.ico" />
		<meta name=viewport content="width=device-width, initial-scale=1">
 

	</head>

	<body>
		<div id="secret-holder">
			<div id = "header"> SCRABBULOUS </div>
			<div id="leftSidebar" class="sidebar" style="float:left;width:25%;overflow: hidden;">
				<div id="instruction-menu" onclick="toggleInstructions();" style="background-color: LightGray">
					<div id="instruction-toggler"> <img src="./static/rightarrow.png" style="display: inline; height: .75em" />  Click here for instructions.</div>
				</div>
			</div>
				
			
			<div id= "mainBody">
				<div id = "create" class="input-block">
					<div display = "block" > To create words: </div>
					<div id="createFormDiv" style="position: static;">
						<form id="createForm" onsubmit="event.preventDefault(); createWords();">
							<input class="inputText" type = "text" id = "createWordsInput"> </input>
							<input class="inputButton" type = "image" src="static/scrabblego.png"></input>
						</form>
					</div>
					<div id = "createWordsOutput" class = "output" style="display: none"></div>
				</div>
				<div id = "check" class="input-block">
					<div display = "block"> To check words: </div>
					<form id="createForm" onsubmit="event.preventDefault(); checkWords();">
						<input class="inputText" type = "text" id = "checkWordsInput"> </input>
						<input class="inputButton" type = "image" src="static/scrabblego.png"></input>
					</form>
					<div id = "checkWordsOutput" class = "output" style="display: none"> 
					</div>
				</div>
			</div>
		</div>

		<script src="./static/javascript.js"></script>
	</body>

</html>